.item {
  width: 300px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  background: #fff;
  padding: 5px 10px;
}
.status {
  width: 15px;
  height: 15px;
  border-radius: 50%;
}
.offline {
  background: red;
}
.online {
  background: green;
}
.name {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.41;
  letter-spacing: 0.03em;
  color: #000;
}
.avatar {
  border-radius: 5px;
  display: block;
}
